# В репозитории текст всегда хранится с переводами строк LF — на любом компьютере, как бы ни был настроен Git.
* text=auto

# Скриптам Windows нужны переводы строк CRLF.
*.cmd text eol=crlf
*.ps1 text eol=crlf
